
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

img.flag {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)
}

.next-game {
  .card {
    margin: 0 0 1rem 0 !important;
  }
}

.party {
  a {
    text-decoration: none !important;
    color: #000000;
  }
  a:hover {
    text-decoration: none !important;
  }

  img {
    opacity: .6;
    transition: .5s;
  }
}

.party:hover {
  img {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .bricklayer-column-sizer {
    width: 33.3%;
  }
}
