
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)
}

.party-details{
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}

.party {
  a {
    text-decoration: none !important;
    color: #000000;
  }
  a:hover {
    text-decoration: none !important;
  }

  img {
    opacity: .5;
    transition: .5s;
  }
}

.party:hover {
  img {
    opacity: 1;
  }
}
