
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-logo {
  background: url(/../img/competition-bg.png) repeat-y 0 0;
}

.card {
  opacity: .92;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;

  &:hover {
    color: #fff;
    opacity: .9;
  }
}

.btn-google {
  color: #757575;
  background-color: #fff;
  border-color: #757575;

  &:hover {
    color: #D8612C;
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

img.flag {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)
}

.next-game {
  .card {
    margin: 0 0 1rem 0 !important;
  }
}

.party {
  a {
    text-decoration: none !important;
    color: #000000;
  }
  a:hover {
    text-decoration: none !important;
  }

  img {
    opacity: .6;
    transition: .5s;
  }
}

.party:hover {
  img {
    opacity: 1;
  }
}

.audit {
  color: goldenrod;

  &:hover {
    color: gold;
  }
}


@media screen and (min-width: 990px) {
  .bricklayer {
    margin: 0 -0.5rem 0 -0.5rem;
  }
  .masonry-brick {
    margin: 0.5rem !important;
  }

  .bricklayer-column-sizer {
    width: 33.3%;
  }
}
